<!--Toolbar-->
<mat-toolbar id="header">
  Dev Jokes
  <span class="spacer"></span>
  <!--Submit New Joke Button-->
  <a routerLink="submit-joke"><button matRipple mat-raised-button id="submit_new_joke" title="Submit New Joke"><mat-icon id="add_icon">add</mat-icon>Submit New Joke</button></a>
</mat-toolbar>

<div id="joke_card_container">
  <!--Joke Card-->
  <mat-card id="joke_card">
    <!--Progress Bar-->
    <div id="progress_bar_container">
      <mat-progress-bar mode="indeterminate" id="progress_bar" *ngIf="showProgressBar"></mat-progress-bar>
    </div>
    <!--Joke/Question-->
    <mat-card-title id="question">{{this.question}}</mat-card-title>
    <!--Punchline-->
    <mat-card-subtitle id="punchline">{{this.punchline}}</mat-card-subtitle>
  </mat-card>
</div>

<div id="new_joke_btn_container">
  <!--Next Joke Button-->
  <button mat-raised-button id="new_joke" (click)="newJoke()" matRipple title="New Joke">New Joke <mat-icon>refresh</mat-icon></button>
</div>

<!--Footer-->
<app-footer></app-footer>
