.spacer {
  flex: 1 1 auto;
}

#header {
  background-color:#541388;
}

#submit_new_joke {
  background-color:#71b340;
}

mat-card {
  width: 400px;
}

mat-card::ng-deep.mat-card-header-text {
  width: 100%;
}

#joke_card_container {
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top:150px;
}

#question {
  line-height:1.3;
  padding-bottom:15px;
}

#punchline {
  font-size:18px;
  line-height:1.3;
}

#new_joke_btn_container {
  text-align:center;
  padding-top:20px;
}

#new_joke {
  background-color:#FFD400;
  color:black;
}

#progress_bar_container {
  padding-bottom: 10px;
}


