<!--Toolbar-->
<mat-toolbar id="header">
  <!--Submit New Joke Button-->
  <a routerLink=""><button mat-raised-button id="back_to_view" title="Back to View Jokes">Back</button></a>
  <span class="spacer"></span>
  Submit a Joke
</mat-toolbar>

<form [formGroup]="jokeForm" (ngSubmit)="submitJoke(jokeForm)">
<div id="submit_joke_form_container">
<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile>
    <!--Name-->
    <mat-form-field appearance="fill" id="name">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex..Jane Doe" title="Name" formControlName="name">
    </mat-form-field>
  </mat-grid-tile>
  </mat-grid-list>

<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile>
    <!--Joke-->
    <mat-form-field appearance="fill" id="joke">
      <mat-label>Joke <span class="required">*</span></mat-label>
      <textarea matInput placeholder="Ex...Why did the programmer quit their job?" title="Joke" formControlName="joke"></textarea>
      <mat-hint>Required</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile>
    <!--Punchline-->
    <mat-form-field appearance="fill" id="punchline">
      <mat-label>Punchline <span class="required">*</span></mat-label>
      <textarea matInput placeholder="Ex...Because they didn't get arrays" title="Punchline" formControlName="punchline"></textarea>
      <mat-hint>Required</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
</div>

<div id="submit_joke_btn_container">
  <!--Submit Joke Button-->
  <button mat-raised-button id="submit_joke" title="Submit Joke" type="submit">Submit Joke</button>
</div>
</form>

<!--Footer-->
<app-footer></app-footer>
